$primary-blue: #011627;
$primary-white: #fdfffc;
$primary-teal: #2ec4b6;
$primary-red: #e71d36;
$primary-yellow: #ff9f1c;
$primary-black: #0f0f0f;
$primary-black-2: #181818;
$primary-black-3: #2b2b2b;
