.movie {
    height: 100vh;
    background: #fff;

    .header {
        height: 550px;
        display: block;
        position: relative;

        &::after {
            content: '';
            background-color: black;
            opacity: 0.9;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: 10;
        }
    }

    section {
        text-align: center;
        padding: 0;
        margin: 0;
        background: #fff;

        h1 {
            padding: 0;
            margin: 0;
        }
    }
}
