@import "../../sass/variables";

.header {
	padding: 16px 350px 0 350px;
	height: 60px;
	background-color: white;
	display: flex;
	justify-content: center;

	// -webkit-box-shadow: 0 4px 6px -6px #222;
	// -moz-box-shadow: 0 4px 6px -6px #222;
	// box-shadow: 0 4px 6px -6px #222;
	-webkit-box-shadow: 0px -9px 10px 8px rgba(0, 0, 0, 0.58);
	box-shadow: 0px -9px 10px 8px rgba(0, 0, 0, 0.58);

	.name {
		color: white;
		font-weight: 800;
	}
}
